<app-menu-principal></app-menu-principal>


  <div class="d-flex justify-content-center">
    <div class="card quien-soy">
      <img src="assets/images/mi-foto.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Brian Pavon</h5>
        <p class="card-text">Seguro mas adelante voy a poner mas detalles sobre mí.</p>        
        <a href="#" class="btn btn-sm btn-outline-primary d-flex justify-content-center">Proximamente el juego</a>
      </div>
    </div>
  </div>

