
<form class="form-signin">
    <div class="container">
    <img class="mx-auto d-block" src="assets/images/foto-login.png" alt="" width="72" height="72">
  </div>
  <h1  class="h3 mb-3 font-weight-normal">Ingreso</h1>
  
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" #inputEmail class="form-control" placeholder="Email" required autofocus value="{{this.mail}}">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" #inputPassword class="form-control" placeholder="Contraseña" required value="{{this.pass}}">
  <button class="btn btn-lg btn-primary btn-block" type="button" (click)="login(inputEmail.value,inputPassword.value)">Ingresar</button>
  <button class="btn btn-lg btn-info btn-block" (click)="register(inputEmail.value,inputPassword.value)" type="button" >Registrarme</button>
  <button class="btn btn-lg btn-warning btn-block" (click)="ingresoRapido()" type="button" >Ingreso Rápido</button>
  
  <p class="mt-5 mb-3 text-muted">&copy; Login Sala de Juegos Pavon Brian</p>
</form>
