<div class="card text-center containerChat">
    <div class="card-header chatHeader">
      Sala de Chat
    </div>
    <div class="card-body">
        <div>
            <p *ngFor="let msj of arrayMensajes">
                {{ msj.texto }}
            </p>
        </div>
    </div>

    <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">        
        <input type="text" class="form-control" placeholder="Envíe el Mensaje" [(ngModel)]="mensajeNuevo" [ngModelOptions]="{standalone: true}">
        <div class="input-group-append" (click)="enviarMensaje()">
            <span class="input-group-text" id="basic-addon2">
                <img class="imgEnviar" src="/assets/images/send.png" alt="send"> 
            </span>
        </div>        
    </form>    
</div>
