.containerChat{
    width: 350px;
    height: 500px;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
}

.chatHeader{
    background-color: rgb(99, 16, 177);
    color: white;
}

.imgEnviar{
    width: 20px;
    cursor: pointer;
}

.card-body{
    padding: 0.6rem;
    background-image: url('/assets/images/fondo-chat.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.imgEnviar:active{
    transform: scale(0.8);
}