<div *ngIf="isLogged" class="fixed-bottom">  
  <a class="bubble-chat" style="cursor: pointer;" (click)="activateChat()">
    <img class="" src="assets/images/bubble-chat.png" alt="bubble-chat" width="72" height="72">
  </a>    
</div>
<div *ngIf="isLogged && chatOn" class="fixed-bottom bubble-chat">
<button type="button" class="close" aria-label="Close" (click)="closeChat()">
  <span aria-hidden="true">&times;</span>
</button>
<app-chat></app-chat>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light background-banner" >
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal"></h1>    
    <a  class="btn btn-primary" routerLink="/juegos">Ir al menú de Juegos</a>    
  </div>    
</div>
<div *ngIf="gamesOn" class="container">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >
    <div class="btn-group btn-group-toggle" data-toggle="buttons">      
         
    </div>
  </div>
</div>
  <!--<a [routerLink]="variable">Anterior</a> si pongo asi puedo usar una variable asi redirige a la anterior-->

  
  
      
      
      
