<app-menu-principal></app-menu-principal>
<!--<div class="container-fluid text-center">
  <h2>TP Sala de Juegos</h2>
  <p>En el login usar la consola para ver las credenciales </p>
</div>-->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light background-banner" >
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal"></h1>    
    <a *ngIf="!gamesOn" class="btn btn-primary" (click)="activateGames('on')">Habilitar Juegos</a>
    <a *ngIf="gamesOn" class="btn btn-primary" (click)="activateGames('off')">Cerrar Juegos</a>
  </div>    
</div>
<div *ngIf="gamesOn" class="container">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >
    <div class="btn-group btn-group-toggle" data-toggle="buttons">      
      <app-juegos></app-juegos>      
    </div>
  </div>
</div>
  <!--<a [routerLink]="variable">Anterior</a> si pongo asi puedo usar una variable asi redirige a la anterior-->
  <div class="background-footer">
    <footer class="container py-5 ">
      <div class="row">      
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
  
  
      
      
      
